In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
tr_data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2022-2023 МФТИ/traffic/Metro_Interstate_Traffic_Volume.csv')

In [3]:
tr_data.head(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0
5,None,291.72,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 14:00:00,5181.0
6,None,293.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 15:00:00,5584.0
7,None,293.86,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 16:00:00,6015.0
8,None,294.14,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 17:00:00,5791.0
9,None,293.10,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 18:00:00,4770.0

In [4]:
tr_data.tail(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
48194,None,283.84,0.00,0.0,75.0,Rain,proximity shower rain,2018-09-30 15:00:00,4302.0
48195,None,283.84,0.00,0.0,75.0,Drizzle,light intensity drizzle,2018-09-30 15:00:00,4302.0
48196,None,284.38,0.00,0.0,75.0,Rain,light rain,2018-09-30 16:00:00,4283.0
48197,None,284.79,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 17:00:00,4132.0
48198,None,284.20,0.25,0.0,75.0,Rain,light rain,2018-09-30 18:00:00,3947.0
48199,None,283.45,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0
48200,None,282.76,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0
48201,None,282.73,0.00,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0
48202,None,282.09,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0
48203,None,282.12,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0

In [5]:
tr_data.columns

Index(['holiday', 'temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_main',
       'weather_description', 'date_time', 'traffic_volume'],
      dtype='object')

In [6]:
tr_data.index

RangeIndex(start=0, stop=48204, step=1)

In [7]:
#tr_data.columns.map(any,count)

In [8]:
tr_data.size

433836

In [9]:
len(tr_data.columns)

9

In [10]:
len(tr_data.index)

48204

In [11]:
tr_data.shape

(48204, 9)

# Basic data exploration

In [12]:
tr_data.nunique()
#уникальные давнные в каждом столбце

holiday                   12
temp                    5843
rain_1h                  372
snow_1h                   12
clouds_all                60
weather_main              11
weather_description       38
date_time              40575
traffic_volume          6704
dtype: int64

In [13]:
tr_data.describe()
#display basic statistic about the data

               temp       rain_1h       snow_1h    clouds_all  traffic_volume
count  48203.000000  48203.000000  48204.000000  48201.000000    48199.000000
mean     281.205431      0.334266      0.000222     49.364847     3259.882300
std       13.338022     44.789598      0.008168     39.015492     1986.873655
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000      1.000000     1193.000000
50%      282.450000      0.000000      0.000000     64.000000     3380.000000
75%      291.806000      0.000000      0.000000     90.000000     4933.000000
max      310.070000   9831.300000      0.510000    100.000000     7280.000000

In [14]:
tr_data['holiday'].value_counts()
#count number of unique values in a specific column

None                         48143
Labor Day                        7
Thanksgiving Day                 6
Christmas Day                    6
New Years Day                    6
Martin Luther King Jr Day        6
Columbus Day                     5
Veterans Day                     5
Washingtons Birthday             5
Memorial Day                     5
Independence Day                 5
State Fair                       5
Name: holiday, dtype: int64

In [15]:
tr_data['temp'].std()
#.min(), .max(), .mean(), .std()
# display specific statistics about the data

13.33802224723532

In [16]:
tr_data.dtypes

holiday                 object
temp                   float64
rain_1h                float64
snow_1h                float64
clouds_all             float64
weather_main            object
weather_description     object
date_time               object
traffic_volume         float64
dtype: object

In [17]:
tr_data['temp'].value_counts().sort_index(ascending=False)
#сортировка по индексам

310.07     1
309.29     1
309.08     1
308.95     1
308.87     1
          ..
244.82     3
244.22     1
243.62     1
243.39     1
0.00      10
Name: temp, Length: 5843, dtype: int64

In [18]:
tr_data['temp'].value_counts().sort_values(ascending=False)
#сортировка позначениям

274.150    128
275.150     89
274.080     85
276.793     78
291.150     73
          ...
253.780      1
255.640      1
251.630      1
253.130      1
304.900      1
Name: temp, Length: 5843, dtype: int64

In [19]:
tr_data.count()
#number of not NaN's in every column

holiday                48204
temp                   48203
rain_1h                48203
snow_1h                48204
clouds_all             48201
weather_main           48203
weather_description    48201
date_time              48204
traffic_volume         48199
dtype: int64

In [20]:
tr_data['clouds_all'].isna().sum()

3

In [21]:
tr_data['temp'].isna().sum()

1

In [22]:
tr_data['rain_1h'].isna().sum()

1

In [23]:
tr_data['snow_1h'].isna().sum()

0

In [24]:
tr_data.isna().sum().sum()
#всего NaN значений

14

In [25]:
tr_data_c=tr_data.dropna().copy()
tr_data_c

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0
...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0

In [26]:
tr_data_c.describe()
#Display basic data statistics

               temp       rain_1h       snow_1h    clouds_all  traffic_volume
count  48190.000000  48190.000000  48190.000000  48190.000000    48190.000000
mean     281.201366      0.334356      0.000222     49.369267     3259.859079
std       13.337406     44.795638      0.008169     39.016127     1986.972809
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000      1.000000     1192.250000
50%      282.440000      0.000000      0.000000     64.000000     3380.000000
75%      291.800000      0.000000      0.000000     90.000000     4933.000000
max      310.070000   9831.300000      0.510000    100.000000     7280.000000

In [27]:
tr_data_c.groupby('holiday')['holiday'].count().count()

12

In [28]:
tr_data_c['holiday'].nunique()

12

In [29]:
tr_data_c['weather_main'].nunique()

11

In [30]:
tr_data_c['weather_description'].nunique()

38

In [31]:
tr_data_c['snow_1h'].nunique()

12

In [32]:
tr_data_c['rain_1h'].nunique()

372

In [33]:
tr_data_c.groupby('holiday')['holiday'].count().sort_values()
#Count frequency of the values in different columns (list of ints in ascending order)

holiday
Columbus Day                     5
Independence Day                 5
Memorial Day                     5
State Fair                       5
Veterans Day                     5
Washingtons Birthday             5
Christmas Day                    6
Martin Luther King Jr Day        6
New Years Day                    6
Thanksgiving Day                 6
Labor Day                        7
None                         48129
Name: holiday, dtype: int64

In [34]:
tr_data_c.groupby('temp')['temp'].count().sort_values()

temp
310.070      1
259.830      1
259.850      1
305.070      1
305.060      1
          ...
291.150     73
276.793     78
274.080     85
275.150     89
274.150    128
Name: temp, Length: 5843, dtype: int64

In [35]:
tr_data_c.groupby('rain_1h')['rain_1h'].count().sort_values()

rain_1h
2.75        1
2.14        1
2.18        1
2.19        1
2.31        1
        ...
0.30      121
1.02      123
0.51      256
0.25      947
0.00    44724
Name: rain_1h, Length: 372, dtype: int64

In [36]:
tr_data_c.groupby('snow_1h')['snow_1h'].count().sort_values()

snow_1h
0.21        1
0.08        2
0.44        2
0.17        3
0.32        5
0.10        6
0.13        6
0.25        6
0.51        6
0.06       12
0.05       14
0.00    48127
Name: snow_1h, dtype: int64

In [37]:
tr_data_c.groupby('clouds_all')['clouds_all'].count().sort_values()

clouds_all
78.0         1
84.0         1
17.0         1
38.0         2
67.0         2
2.0          2
62.0         2
60.0         2
54.0         2
50.0         2
42.0         2
86.0         2
72.0         3
3.0          3
13.0         3
4.0          3
25.0         4
70.0         4
58.0         4
63.0         5
11.0         5
83.0         5
16.0         5
6.0          6
77.0         7
97.0         8
46.0         9
81.0        11
91.0        12
89.0        13
57.0        13
96.0        14
59.0        16
85.0        17
87.0        18
98.0        21
93.0        34
99.0        44
100.0       94
44.0       147
76.0       153
56.0       166
36.0       169
68.0       179
48.0       180
80.0       181
88.0       183
32.0       185
24.0       186
8.0        270
12.0       273
92.0       776
5.0       1094
64.0      1558
20.0      1848
0.0       1988
40.0      3989
75.0      5068
1.0      12754
90.0     16441
Name: clouds_all, dtype: int64

In [38]:
tr_data_c.groupby('weather_main')['weather_main'].count().sort_values()

weather_main
Squall              4
Smoke              20
Fog               912
Thunderstorm     1034
Haze             1359
Drizzle          1821
Snow             2876
Rain             5671
Mist             5950
Clear           13384
Clouds          15159
Name: weather_main, dtype: int64

In [39]:
tr_data_c

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0
...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0

In [40]:
tr_data_c.groupby('weather_description')['weather_description'].count().sort_values()

weather_description
shower snow                                1
thunderstorm with drizzle                  2
freezing rain                              2
sleet                                      3
SQUALLS                                    4
shower drizzle                             6
light rain and snow                        6
light shower snow                         11
proximity thunderstorm with drizzle       13
light intensity shower rain               13
thunderstorm with light drizzle           15
very heavy rain                           18
smoke                                     20
thunderstorm with rain                    37
proximity thunderstorm with rain          52
thunderstorm with light rain              54
thunderstorm with heavy rain              63
heavy intensity drizzle                   64
thunderstorm                             125
proximity shower rain                    136
snow                                     293
heavy intensity rain                     467
heavy snow                               616
drizzle                                  651
proximity thunderstorm                   673
fog                                      912
light intensity drizzle                 1100
haze                                    1359
moderate rain                           1664
Sky is Clear                            1726
light snow                              1946
few clouds                              1955
light rain                              3371
scattered clouds                        3458
broken clouds                           4665
overcast clouds                         5081
mist                                    5950
sky is clear                           11658
Name: weather_description, dtype: int64

In [41]:
tr_data_c.groupby('traffic_volume')['traffic_volume'].count().sort_values()

traffic_volume
7280.0     1
3387.0     1
3396.0     1
3428.0     1
3445.0     1
          ..
333.0     42
351.0     44
340.0     47
356.0     50
353.0     50
Name: traffic_volume, Length: 6704, dtype: int64

In [42]:
[tr_data_c['traffic_volume'].max(),tr_data_c['traffic_volume'].min(),
 tr_data_c['traffic_volume'].mean(),tr_data_c['traffic_volume'].std()]

[7280.0, 0.0, 3259.859078647022, 1986.9728088422248]

In [43]:
[tr_data_c['clouds_all'].max(),tr_data_c['clouds_all'].min(),
 tr_data_c['clouds_all'].mean(),tr_data_c['clouds_all'].std()]

[100.0, 0.0, 49.36926748288027, 39.01612676595111]

In [44]:
[tr_data_c['temp'].max(),tr_data_c['temp'].min(),
 tr_data_c['temp'].mean(),tr_data_c['temp'].std()]

[310.07, 0.0, 281.20136588503834, 13.337406217540565]

In [45]:
[tr_data_c['rain_1h'].max(),tr_data_c['rain_1h'].min(),
 tr_data_c['rain_1h'].mean(),tr_data_c['rain_1h'].std()]

[9831.3, 0.0, 0.33435588296327035, 44.795638356961575]

In [46]:
[tr_data_c['snow_1h'].max(),tr_data_c['snow_1h'].min(),
 tr_data_c['snow_1h'].mean(),tr_data_c['snow_1h'].std()]

[0.51, 0.0, 0.00022245279103548456, 0.008168796677854495]

In [47]:
tr_data_c.dtypes.value_counts()
#count dtypes

float64    5
object     4
dtype: int64

In [48]:
tr_data_c.dtypes[tr_data_c.dtypes == 'object']

holiday                object
weather_main           object
weather_description    object
date_time              object
dtype: object

In [49]:
tr_data_c.dtypes[tr_data_c.dtypes == 'float64']

temp              float64
rain_1h           float64
snow_1h           float64
clouds_all        float64
traffic_volume    float64
dtype: object

# 3. Data selection

In [50]:
tr_data_c.loc[10]

holiday                               None
temp                                290.97
rain_1h                                0.0
snow_1h                                0.0
clouds_all                            20.0
weather_main                        Clouds
weather_description             few clouds
date_time              2012-10-02 19:00:00
traffic_volume                      3539.0
Name: 10, dtype: object

In [51]:
tr_data_c.iloc[10]

holiday                               None
temp                                290.97
rain_1h                                0.0
snow_1h                                0.0
clouds_all                            20.0
weather_main                        Clouds
weather_description             few clouds
date_time              2012-10-02 19:00:00
traffic_volume                      3539.0
Name: 10, dtype: object

In [52]:
tr_data_c.iloc[[2,4]]

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0

In [53]:
tr_data_c.loc[5:10]

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
5,None,291.72,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 14:00:00,5181.0
6,None,293.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 15:00:00,5584.0
7,None,293.86,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 16:00:00,6015.0
8,None,294.14,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 17:00:00,5791.0
9,None,293.10,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 18:00:00,4770.0
10,None,290.97,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 19:00:00,3539.0

In [54]:
tr_data_c.iloc[5:10]

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
5,None,291.72,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 14:00:00,5181.0
6,None,293.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 15:00:00,5584.0
7,None,293.86,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 16:00:00,6015.0
8,None,294.14,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 17:00:00,5791.0
9,None,293.10,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 18:00:00,4770.0

In [55]:
tr_data_c['weather_main'].iloc[10]

'Clouds'

In [56]:
tr_data_c.loc[5:10,'weather_main']

5      Clear
6      Clear
7      Clear
8     Clouds
9     Clouds
10    Clouds
Name: weather_main, dtype: object

In [57]:
#Using boolean mask
mask = tr_data_c['temp']>300
tr_data_c[mask]

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
6042,None,302.46,0.0,0.0,40.0,Clouds,scattered clouds,2013-05-15 14:00:00,5409.0
6043,None,304.66,0.0,0.0,1.0,Clear,sky is clear,2013-05-15 15:00:00,6236.0
6044,None,306.61,0.0,0.0,20.0,Clouds,few clouds,2013-05-15 16:00:00,6423.0
6045,None,308.24,0.0,0.0,20.0,Clouds,few clouds,2013-05-15 17:00:00,5982.0
6046,None,307.66,0.0,0.0,1.0,Clear,sky is clear,2013-05-15 18:00:00,4858.0
...,...,...,...,...,...,...,...,...,...
47732,None,304.90,0.0,0.0,40.0,Clouds,scattered clouds,2018-09-16 16:00:00,4539.0
47733,None,304.82,0.0,0.0,1.0,Clear,sky is clear,2018-09-16 17:00:00,4154.0
47734,None,304.09,0.0,0.0,20.0,Clouds,few clouds,2018-09-16 18:00:00,3701.0
47735,None,303.02,0.0,0.0,5.0,Clear,sky is clear,2018-09-16 19:00:00,3400.0
47736,None,300.78,0.0,0.0,1.0,Clear,sky is clear,2018-09-16 20:00:00,3092.0

In [58]:
tr_data_c.loc[mask, 'temp']
#такое представление позволяет выбирать отдельные колонки

6042     302.46
6043     304.66
6044     306.61
6045     308.24
6046     307.66
          ...
47732    304.90
47733    304.82
47734    304.09
47735    303.02
47736    300.78
Name: temp, Length: 1859, dtype: float64

In [59]:
#multiple conditions using & or | (and, or)
cond1 = tr_data_c['temp']>300
cond2=tr_data_c['weather_main']=='Clouds'
tr_data_c[cond1 & cond2]

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
6042,None,302.46,0.0,0.0,40.0,Clouds,scattered clouds,2013-05-15 14:00:00,5409.0
6044,None,306.61,0.0,0.0,20.0,Clouds,few clouds,2013-05-15 16:00:00,6423.0
6045,None,308.24,0.0,0.0,20.0,Clouds,few clouds,2013-05-15 17:00:00,5982.0
7113,None,300.99,0.0,0.0,32.0,Clouds,scattered clouds,2013-06-20 17:00:00,6065.0
7121,None,301.25,0.0,0.0,20.0,Clouds,few clouds,2013-06-21 21:00:00,2754.0
...,...,...,...,...,...,...,...,...,...
47729,None,303.25,0.0,0.0,40.0,Clouds,scattered clouds,2018-09-16 13:00:00,3935.0
47730,None,304.41,0.0,0.0,40.0,Clouds,scattered clouds,2018-09-16 14:00:00,3829.0
47731,None,304.55,0.0,0.0,40.0,Clouds,scattered clouds,2018-09-16 15:00:00,4101.0
47732,None,304.90,0.0,0.0,40.0,Clouds,scattered clouds,2018-09-16 16:00:00,4539.0
47734,None,304.09,0.0,0.0,20.0,Clouds,few clouds,2018-09-16 18:00:00,3701.0

In [60]:
tr_data_c.query('temp>306')

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
6044,None,306.61,0.0,0.0,20.0,Clouds,few clouds,2013-05-15 16:00:00,6423.0
6045,None,308.24,0.0,0.0,20.0,Clouds,few clouds,2013-05-15 17:00:00,5982.0
6046,None,307.66,0.0,0.0,1.0,Clear,sky is clear,2013-05-15 18:00:00,4858.0
6047,None,306.02,0.0,0.0,1.0,Clear,sky is clear,2013-05-15 19:00:00,3536.0
7762,None,306.07,0.0,0.0,0.0,Clear,Sky is Clear,2013-07-18 15:00:00,6295.0
7784,None,306.34,0.0,0.0,8.0,Clear,sky is clear,2013-07-19 14:00:00,5799.0
7785,None,306.66,0.0,0.0,0.0,Clear,Sky is Clear,2013-07-19 15:00:00,6180.0
7786,None,306.33,0.0,0.0,0.0,Clear,Sky is Clear,2013-07-19 16:00:00,6327.0
7787,None,306.39,0.0,0.0,0.0,Clear,Sky is Clear,2013-07-19 17:00:00,5627.0
8670,None,306.20,0.0,0.0,0.0,Clear,Sky is Clear,2013-08-26 14:00:00,5542.0
8671,None,306.67,0.0,0.0,0.0,Clear,Sky is Clear,2013-08-26 15:00:00,5750.0
8672,None,307.09,0.0,0.0,0.0,Clear,Sky is Clear,2013-08-26 16:00:00,6298.0
8673,None,307.00,0.0,0.0,0.0,Clear,Sky is Clear,2013-08-26 17:00:00,5813.0
8674,None,306.31,0.0,0.0,0.0,Clear,Sky is Clear,2013-08-26 18:00:00,4520.0
8681,None,306.24,0.0,0.0,8.0,Clear,sky is clear,2013-08-27 14:00:00,5883.0
8682,None,306.79,0.0,0.0,8.0,Clear,sky is clear,2013-08-27 16:00:00,6653.0
24450,None,306.25,0.0,0.0,40.0,Clouds,scattered clouds,2016-06-25 14:00:00,4395.0
24451,None,306.86,0.0,0.0,40.0,Clouds,scattered clouds,2016-06-25 15:00:00,4298.0
24452,None,307.03,0.0,0.0,75.0,Thunderstorm,proximity thunderstorm,2016-06-25 16:00:00,4341.0
25089,None,306.37,0.0,0.0,0.0,Clear,Sky is Clear,2016-07-20 15:00:00,5073.0
25090,None,306.37,0.0,0.0,0.0,Clear,Sky is Clear,2016-07-20 16:00:00,5952.0
25091,None,306.37,0.0,0.0,0.0,Clear,Sky is Clear,2016-07-20 17:00:00,5396.0
25147,None,306.76,0.0,0.0,1.0,Clear,sky is clear,2016-07-22 14:00:00,4538.0
25148,None,307.32,0.0,0.0,20.0,Clouds,few clouds,2016-07-22 15:00:00,5201.0
25149,None,307.33,0.0,0.0,20.0,Clouds,few clouds,2016-07-22 16:00:00,5173.0
25150,None,307.20,0.0,0.0,20.0,Clouds,few clouds,2016-07-22 17:00:00,4634.0
25151,None,306.28,0.0,0.0,1.0,Clear,sky is clear,2016-07-22 18:00:00,3954.0
34403,None,306.15,0.0,0.0,40.0,Clouds,scattered clouds,2017-06-10 14:00:00,4600.0
34404,None,306.75,0.0,0.0,90.0,Clouds,overcast clouds,2017-06-10 15:00:00,4550.0
34405,None,307.02,0.0,0.0,75.0,Clouds,broken clouds,2017-06-10 16:00:00,4231.0
34406,None,306.68,0.0,0.0,75.0,Clouds,broken clouds,2017-06-10 17:00:00,4149.0
34407,None,306.29,0.0,0.0,1.0,Clear,sky is clear,2017-06-10 18:00:00,3954.0
37370,None,306.28,0.0,0.0,40.0,Clouds,scattered clouds,2017-09-22 16:00:00,6103.0
37371,None,306.58,0.0,0.0,1.0,Clear,sky is clear,2017-09-22 17:00:00,5502.0
37372,None,306.09,0.0,0.0,1.0,Clear,sky is clear,2017-09-22 18:00:00,4844.0
44408,None,306.15,0.0,0.0,40.0,Clouds,scattered clouds,2018-05-26 15:00:00,3761.0
44409,None,306.65,0.0,0.0,40.0,Clouds,scattered clouds,2018-05-26 16:00:00,3970.0
44410,None,306.58,0.0,0.0,1.0,Clear,sky is clear,2018-05-26 17:00:00,3858.0
44411,None,306.51,0.0,0.0,1.0,Clear,sky is clear,2018-05-26 18:00:00,3714.0
44412,None,306.02,0.0,0.0,1.0,Clear,sky is clear,2018-05-26 19:00:00,2965.0
44455,None,307.29,0.0,0.0,75.0,Clouds,broken clouds,2018-05-28 14:00:00,4032.0
44456,None,308.95,0.0,0.0,40.0,Clouds,scattered clouds,2018-05-28 15:00:00,3812.0
44457,None,310.07,0.0,0.0,75.0,Clouds,broken clouds,2018-05-28 16:00:00,3810.0
44458,None,307.87,0.0,0.0,75.0,Thunderstorm,proximity thunderstorm,2018-05-28 17:00:00,3822.0
44483,None,306.22,0.0,0.0,1.0,Clear,sky is clear,2018-05-29 14:00:00,5159.0
45421,None,306.22,0.0,0.0,1.0,Clear,sky is clear,2018-06-29 13:00:00,5236.0
45422,None,307.69,0.0,0.0,1.0,Clear,sky is clear,2018-06-29 14:00:00,5319.0
45423,None,308.43,0.0,0.0,1.0,Clear,sky is clear,2018-06-29 15:00:00,5903.0
45424,None,309.29,0.0,0.0,40.0,Clouds,scattered clouds,2018-06-29 16:00:00,5902.0
45425,None,309.08,0.0,0.0,40.0,Clouds,scattered clouds,2018-06-29 17:00:00,5314.0
45426,None,308.87,0.0,0.0,40.0,Clouds,scattered clouds,2018-06-29 18:00:00,4798.0
45427,None,307.68,0.0,0.0,40.0,Clouds,scattered clouds,2018-06-29 19:00:00,3705.0
45428,None,306.29,0.0,0.0,75.0,Clouds,broken clouds,2018-06-29 20:00:00,3340.0
47708,None,306.07,0.0,0.0,40.0,Clouds,scattered clouds,2018-09-15 16:00:00,4219.0
47709,None,306.08,0.0,0.0,20.0,Clouds,few clouds,2018-09-15 17:00:00,3953.0

In [61]:
tr_data_c.query("(temp>306) and (weather_main=='Clear') ")

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
6046,None,307.66,0.0,0.0,1.0,Clear,sky is clear,2013-05-15 18:00:00,4858.0
6047,None,306.02,0.0,0.0,1.0,Clear,sky is clear,2013-05-15 19:00:00,3536.0
7762,None,306.07,0.0,0.0,0.0,Clear,Sky is Clear,2013-07-18 15:00:00,6295.0
7784,None,306.34,0.0,0.0,8.0,Clear,sky is clear,2013-07-19 14:00:00,5799.0
7785,None,306.66,0.0,0.0,0.0,Clear,Sky is Clear,2013-07-19 15:00:00,6180.0
7786,None,306.33,0.0,0.0,0.0,Clear,Sky is Clear,2013-07-19 16:00:00,6327.0
7787,None,306.39,0.0,0.0,0.0,Clear,Sky is Clear,2013-07-19 17:00:00,5627.0
8670,None,306.20,0.0,0.0,0.0,Clear,Sky is Clear,2013-08-26 14:00:00,5542.0
8671,None,306.67,0.0,0.0,0.0,Clear,Sky is Clear,2013-08-26 15:00:00,5750.0
8672,None,307.09,0.0,0.0,0.0,Clear,Sky is Clear,2013-08-26 16:00:00,6298.0
8673,None,307.00,0.0,0.0,0.0,Clear,Sky is Clear,2013-08-26 17:00:00,5813.0
8674,None,306.31,0.0,0.0,0.0,Clear,Sky is Clear,2013-08-26 18:00:00,4520.0
8681,None,306.24,0.0,0.0,8.0,Clear,sky is clear,2013-08-27 14:00:00,5883.0
8682,None,306.79,0.0,0.0,8.0,Clear,sky is clear,2013-08-27 16:00:00,6653.0
25089,None,306.37,0.0,0.0,0.0,Clear,Sky is Clear,2016-07-20 15:00:00,5073.0
25090,None,306.37,0.0,0.0,0.0,Clear,Sky is Clear,2016-07-20 16:00:00,5952.0
25091,None,306.37,0.0,0.0,0.0,Clear,Sky is Clear,2016-07-20 17:00:00,5396.0
25147,None,306.76,0.0,0.0,1.0,Clear,sky is clear,2016-07-22 14:00:00,4538.0
25151,None,306.28,0.0,0.0,1.0,Clear,sky is clear,2016-07-22 18:00:00,3954.0
34407,None,306.29,0.0,0.0,1.0,Clear,sky is clear,2017-06-10 18:00:00,3954.0
37371,None,306.58,0.0,0.0,1.0,Clear,sky is clear,2017-09-22 17:00:00,5502.0
37372,None,306.09,0.0,0.0,1.0,Clear,sky is clear,2017-09-22 18:00:00,4844.0
44410,None,306.58,0.0,0.0,1.0,Clear,sky is clear,2018-05-26 17:00:00,3858.0
44411,None,306.51,0.0,0.0,1.0,Clear,sky is clear,2018-05-26 18:00:00,3714.0
44412,None,306.02,0.0,0.0,1.0,Clear,sky is clear,2018-05-26 19:00:00,2965.0
44483,None,306.22,0.0,0.0,1.0,Clear,sky is clear,2018-05-29 14:00:00,5159.0
45421,None,306.22,0.0,0.0,1.0,Clear,sky is clear,2018-06-29 13:00:00,5236.0
45422,None,307.69,0.0,0.0,1.0,Clear,sky is clear,2018-06-29 14:00:00,5319.0
45423,None,308.43,0.0,0.0,1.0,Clear,sky is clear,2018-06-29 15:00:00,5903.0

In [62]:
tr_data_c['temp'].loc[45423]

308.43

In [63]:
tr_data_c['temp'].iloc[45423]

301.29

In [64]:
tr_data_c.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            48194, 48195, 48196, 48197, 48198, 48199, 48200, 48201, 48202,
            48203],
           dtype='int64', length=48190)

In [65]:
tr_data[tr_data.isna().any(axis=1)]

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
16495,None,303.63,0.0,0.0,40.0,NaN,scattered clouds,2015-07-12 17:00:00,3823.0
16498,None,NaN,0.0,0.0,1.0,Clear,sky is clear,2015-07-12 20:00:00,2866.0
16517,None,293.17,0.0,0.0,40.0,Rain,NaN,2015-07-13 08:00:00,5369.0
16518,None,294.57,0.0,0.0,75.0,Clouds,NaN,2015-07-13 09:00:00,4415.0
16596,None,294.63,NaN,0.0,90.0,Haze,haze,2015-07-16 12:00:00,5067.0
16835,None,300.91,0.0,0.0,1.0,Clear,NaN,2015-07-24 20:00:00,3379.0
16941,None,298.42,0.0,0.0,NaN,Clear,sky is clear,2015-07-28 21:00:00,2586.0
16942,None,295.51,0.0,0.0,NaN,Clear,sky is clear,2015-07-28 22:00:00,1786.0
16943,None,294.29,0.0,0.0,NaN,Clouds,few clouds,2015-07-28 23:00:00,1167.0
16985,None,301.13,0.0,0.0,1.0,Clear,sky is clear,2015-07-30 18:00:00,NaN
16990,None,294.11,0.0,0.0,1.0,Clear,sky is clear,2015-07-31 00:00:00,NaN
17014,None,292.19,0.0,0.0,40.0,Clouds,scattered clouds,2015-08-01 00:00:00,NaN
17046,None,294.71,0.0,0.0,40.0,Clouds,scattered clouds,2015-08-02 08:00:00,NaN
17121,None,294.32,0.0,0.0,1.0,Clear,sky is clear,2015-08-05 10:00:00,NaN

In [66]:
tr_data_c.query("temp<270")['temp'].count()

9308

In [67]:
tr_data_c.query("weather_description=='light intensity drizzle'")['date_time'].min()

'2012-10-10 07:00:00'

In [68]:
tr_data_c.query("clouds_all>75")['clouds_all'].count()

18036

In [69]:
tr_data_c.query("weather_main == 'Fog'")['weather_main'].count()

912

In [70]:
tr_data_c.query("weather_description == 'heavy snow'")['date_time'].max()

'2018-04-15 18:00:00'

In [71]:
# Q12.1
tr_data_c.query("holiday != 'None'").sort_values('date_time')['temp'].iloc[9]

288.78

In [72]:
# Q12.1
tr_data_c.query("holiday != 'None'").sort_values('date_time').head(12)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
126,Columbus Day,273.08,0.0,0.0,20.0,Clouds,few clouds,2012-10-08 00:00:00,455.0
1123,Veterans Day,288.12,0.0,0.0,87.0,Clear,sky is clear,2012-11-12 00:00:00,1000.0
1370,Thanksgiving Day,278.54,0.0,0.0,20.0,Mist,mist,2012-11-22 00:00:00,919.0
2360,Christmas Day,264.40,0.0,0.0,90.0,Clouds,overcast clouds,2012-12-25 00:00:00,803.0
2559,New Years Day,263.49,0.0,0.0,58.0,Clouds,broken clouds,2013-01-01 00:00:00,1439.0
3697,Washingtons Birthday,258.96,0.0,0.0,20.0,Clouds,few clouds,2013-02-18 00:00:00,556.0
6430,Memorial Day,286.37,0.0,0.0,90.0,Clouds,overcast clouds,2013-05-27 00:00:00,863.0
7414,Independence Day,290.08,0.0,0.0,1.0,Clear,sky is clear,2013-07-04 00:00:00,1060.0
8575,State Fair,297.42,0.0,0.0,12.0,Clouds,few clouds,2013-08-22 00:00:00,661.0
8742,Labor Day,288.78,0.0,0.0,0.0,Clear,Sky is Clear,2013-09-02 00:00:00,1041.0
9455,Columbus Day,277.72,0.0,0.0,0.0,Clear,Sky is Clear,2013-10-14 00:00:00,615.0
9768,Veterans Day,275.44,0.0,0.0,64.0,Clouds,broken clouds,2013-11-11 00:00:00,514.0

In [73]:
# Q12.2
tr_data_c.query("clouds_all == 75")['traffic_volume'].iloc[98]

1437.0

In [74]:
# Q12.3
tr_data_c.query("holiday != 'None'").sort_values('date_time')['temp'].iloc[11]

275.44

In [75]:
# Q12.4
tr_data_c.query("weather_description  == 'proximity thunderstorm'")['temp'].iloc[665]

288.6

In [76]:
# Q12.5
tr_data_c.query("clouds_all <= 20")['temp'].iloc[1336]

276.63

# 4. Creating new columns

In [77]:
# Q13.1 Create a `temp_in_celcius` column from the existing `temp` (kelvin)
tr_data_c['temp_in_celcius']=tr_data_c['temp']-273
tr_data_c

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14
...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.45
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.76
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.73
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,9.09
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,9.12

In [78]:
tr_data_c.query('temp > 298')

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius
50,None,298.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-04 15:00:00,5713.0,25.17
51,None,298.06,0.0,0.0,20.0,Clouds,few clouds,2012-10-04 16:00:00,6292.0,25.06
5603,None,298.04,0.0,0.0,1.0,Clear,sky is clear,2013-04-29 15:00:00,5654.0,25.04
5604,None,299.19,0.0,0.0,1.0,Clear,sky is clear,2013-04-29 16:00:00,6271.0,26.19
5605,None,299.40,0.0,0.0,40.0,Clouds,scattered clouds,2013-04-29 17:00:00,5956.0,26.40
...,...,...,...,...,...,...,...,...,...,...
47733,None,304.82,0.0,0.0,1.0,Clear,sky is clear,2018-09-16 17:00:00,4154.0,31.82
47734,None,304.09,0.0,0.0,20.0,Clouds,few clouds,2018-09-16 18:00:00,3701.0,31.09
47735,None,303.02,0.0,0.0,5.0,Clear,sky is clear,2018-09-16 19:00:00,3400.0,30.02
47736,None,300.78,0.0,0.0,1.0,Clear,sky is clear,2018-09-16 20:00:00,3092.0,27.78
47737,None,298.90,0.0,0.0,5.0,Clear,sky is clear,2018-09-16 21:00:00,2623.0,25.90

In [79]:
# Q13.2 Create a new bool column `hot` which indicates whether the time slot was hot (temp > 300)

In [80]:
tr_data_c['hot']=tr_data_c['temp']>300
tr_data_c

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28,False
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36,False
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58,False
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13,False
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14,False
...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.45,False
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.76,False
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.73,False
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,9.09,False
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,9.12,False

In [81]:
# Q13.4 Create a new bool column `is_holiday` which indicates whether the day of the time slot falls on any holiday
tr_data_c['is_holiday']=tr_data_c['holiday']!='None'
tr_data_c['is_holiday']=tr_data_c['is_holiday'].astype(int)
tr_data_c

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,is_holiday
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28,False,0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36,False,0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58,False,0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13,False,0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.45,False,0
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.76,False,0
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.73,False,0
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,9.09,False,0
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,9.12,False,0

In [82]:
tr_data_c.query("holiday != 'None'")

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,is_holiday
126,Columbus Day,273.080,0.00,0.0,20.0,Clouds,few clouds,2012-10-08 00:00:00,455.0,0.080,False,1
1123,Veterans Day,288.120,0.00,0.0,87.0,Clear,sky is clear,2012-11-12 00:00:00,1000.0,15.120,False,1
1370,Thanksgiving Day,278.540,0.00,0.0,20.0,Mist,mist,2012-11-22 00:00:00,919.0,5.540,False,1
2360,Christmas Day,264.400,0.00,0.0,90.0,Clouds,overcast clouds,2012-12-25 00:00:00,803.0,-8.600,False,1
2559,New Years Day,263.490,0.00,0.0,58.0,Clouds,broken clouds,2013-01-01 00:00:00,1439.0,-9.510,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...
44441,Memorial Day,299.487,0.00,0.0,24.0,Clouds,few clouds,2018-05-28 00:00:00,1088.0,26.487,False,1
45547,Independence Day,297.550,0.00,0.0,1.0,Mist,mist,2018-07-04 00:00:00,1021.0,24.550,False,1
46936,State Fair,289.020,0.00,0.0,1.0,Clear,sky is clear,2018-08-23 00:00:00,596.0,16.020,False,1
47330,Labor Day,292.430,0.25,0.0,1.0,Rain,light rain,2018-09-03 00:00:00,962.0,19.430,False,1
47331,Labor Day,292.430,0.25,0.0,1.0,Mist,mist,2018-09-03 00:00:00,962.0,19.430,False,1

In [83]:
tr_data_c[tr_data_c['weather_description'].str.contains('clouds')]
#чисто попробовать

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,is_holiday
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28,False,0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36,False,0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58,False,0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13,False,0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...
48197,None,284.79,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 17:00:00,4132.0,11.79,False,0
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.45,False,0
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.76,False,0
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,9.09,False,0
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,9.12,False,0

In [84]:
tr_data_c['date_time']=pd.to_datetime(tr_data_c['date_time'], format='%Y-%m-%d %H:%M:%S')

In [85]:
#Q14.1 How many cloudy time slots were captured in autumn 2016? Including both start and end day.
mask1 =tr_data_c['date_time']>='2016-03-01'
mask2 =tr_data_c['date_time']<'2016-06-01'
mask3 = tr_data_c['weather_main']=='Clouds'
len(tr_data_c[mask1 & mask2 & mask3])

703

In [86]:
# Q14.2 How many rainy time slots that were captured in the fall, with traffic volume more than 2000?
len(tr_data_c.query('traffic_volume>2000 and weather_main=="Rain"'))

3943

In [87]:
# Q14.3 How many time slots that are warmer than 270, have weather main "Clouds"?
len(tr_data_c.query("temp>270 and weather_main=='Clouds'"))
#tr_data_c.query("temp>270 and weather_main=='Clouds'")

12133

In [88]:
tr_data_c['Date'] = tr_data_c['date_time'].dt.date
tr_data_c['Time'] = tr_data_c['date_time'].dt.time

In [89]:
# Q14.4 What is the minimum traffic volume of time slots captured on March 8th (all years), that was warmer than 290?
mask1=tr_data_c['temp']>290
mask2 = tr_data_c['date_time'].dt.month==3
mask3 = tr_data_c['date_time'].dt.day==8
tr_data_c[mask1 & mask2 & mask3]['traffic_volume'].min()

4780.0

In [90]:
# Q14.5 How much is the maximum traffic volume for the time slots were captured in June 2017 and has clear sky (weather_main)?
mask1 = tr_data_c['date_time'].dt.month==6
mask2 = tr_data_c['date_time'].dt.year==2017
mask3 = tr_data_c['weather_main']=='Clear'
tr_data_c[mask1 & mask2 & mask3]['traffic_volume'].max()

6673.0

In [91]:
# Q15.1 What was the average temperature of time slots with main weather "Haze"?
mask = tr_data_c['weather_main']=='Haze'
tr_data_c[mask]['temp'].mean()

275.80473877851364

In [92]:
# Q15.2 What was the traffic volume of the coldest time slot of the year 2016?
mask = tr_data_c['date_time'].dt.year==2016
min_temp=tr_data_c[mask]['temp'].min().copy()

mask2 = tr_data_c[mask]['temp']==min_temp
tr_data_c[mask & mask2]['traffic_volume']

29252    1462.0
Name: traffic_volume, dtype: float64

In [93]:
#Q15.3 What was the traffic volume of the highest amount of snow in one hour?
mask1=tr_data_c['snow_1h']==tr_data_c['snow_1h'].max()
tr_data_c[mask1]['traffic_volume'].unique()

array([5167.,  888.])

In [94]:
# Q15.4 What is the median of temperatures captured in April 2017?
mask1=tr_data_c['date_time'].dt.year==2017
mask2=tr_data_c['date_time'].dt.month==4
tr_data_c[mask1 & mask2]['temp'].median()

282.01

In [95]:
# Q15.5 What is the maximum temperature of time slots with clear sky?
mask = tr_data_c['weather_main']=='Clear'
tr_data_c[mask]['temp'].max()

308.43

In [96]:
# Q16.1 What is the average temperature in celcius of the time slots with rainy_and_coudy=True?
mask1 = tr_data_c['weather_main']=='Rain'
mask2 = tr_data_c['weather_main']=='Clouds'
tr_data_c[mask1 | mask2]['temp_in_celcius'].mean()

9.96339937590014

In [97]:
# Q13.1 Create a `temp_in_celcius` column from the existing `temp` (kelvin)
tr_data_c['temp_in_celcius']=tr_data_c['temp']-273
tr_data_c

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,is_holiday,Date,Time
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28,False,0,2012-10-02,09:00:00
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36,False,0,2012-10-02,10:00:00
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58,False,0,2012-10-02,11:00:00
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13,False,0,2012-10-02,12:00:00
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14,False,0,2012-10-02,13:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.45,False,0,2018-09-30,19:00:00
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.76,False,0,2018-09-30,20:00:00
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.73,False,0,2018-09-30,21:00:00
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,9.09,False,0,2018-09-30,22:00:00
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,9.12,False,0,2018-09-30,23:00:00

In [98]:
# Q16.2 What is the average traffic volume on holidays?
mask = tr_data_c['holiday']!='None'
tr_data_c[mask]['traffic_volume'].mean()

865.4426229508197

In [99]:
# Q16.3 What is the average traffic volume on non-holidays?
mask = tr_data_c['holiday']=='None'
tr_data_c[mask]['traffic_volume'].mean()

3262.8938270065864

In [100]:
# Q16.4 What is the average traffic volume in the highest quantile?
mask = tr_data_c['traffic_volume'] > tr_data_c['traffic_volume'].quantile(0.75)
tr_data_c[mask]['traffic_volume'].mean()

5707.194467519522

In [101]:
# Q16.5 What is the average traffic volume in the lowest quantile?
mask = tr_data_c['traffic_volume'] < tr_data_c['traffic_volume'].quantile(0.25)
tr_data_c[mask]['traffic_volume'].mean()

587.4807436918991

# Basic date processing

In [102]:
tr_data_c['date_time']=pd.to_datetime(tr_data_c['date_time'], format='%Y-%m-%d %H:%M:%S')

In [103]:
# Q17.2 Extract and store `year`
tr_data_c['year']=tr_data_c['date_time'].dt.year
tr_data_c

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,is_holiday,Date,Time,year
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28,False,0,2012-10-02,09:00:00,2012
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36,False,0,2012-10-02,10:00:00,2012
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58,False,0,2012-10-02,11:00:00,2012
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13,False,0,2012-10-02,12:00:00,2012
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14,False,0,2012-10-02,13:00:00,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.45,False,0,2018-09-30,19:00:00,2018
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.76,False,0,2018-09-30,20:00:00,2018
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.73,False,0,2018-09-30,21:00:00,2018
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,9.09,False,0,2018-09-30,22:00:00,2018
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,9.12,False,0,2018-09-30,23:00:00,2018

In [104]:
# Q17.3 Extract and store `month`
tr_data_c['month']=tr_data_c['date_time'].dt.month
tr_data_c

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,is_holiday,Date,Time,year,month
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28,False,0,2012-10-02,09:00:00,2012,10
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36,False,0,2012-10-02,10:00:00,2012,10
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58,False,0,2012-10-02,11:00:00,2012,10
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13,False,0,2012-10-02,12:00:00,2012,10
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14,False,0,2012-10-02,13:00:00,2012,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.45,False,0,2018-09-30,19:00:00,2018,9
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.76,False,0,2018-09-30,20:00:00,2018,9
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.73,False,0,2018-09-30,21:00:00,2018,9
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,9.09,False,0,2018-09-30,22:00:00,2018,9
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,9.12,False,0,2018-09-30,23:00:00,2018,9

In [105]:
# Q17.4 Extract and store `day`
tr_data_c['day']=tr_data_c['date_time'].dt.day
tr_data_c

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,is_holiday,Date,Time,year,month,day
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28,False,0,2012-10-02,09:00:00,2012,10,2
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36,False,0,2012-10-02,10:00:00,2012,10,2
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58,False,0,2012-10-02,11:00:00,2012,10,2
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13,False,0,2012-10-02,12:00:00,2012,10,2
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14,False,0,2012-10-02,13:00:00,2012,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.45,False,0,2018-09-30,19:00:00,2018,9,30
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.76,False,0,2018-09-30,20:00:00,2018,9,30
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.73,False,0,2018-09-30,21:00:00,2018,9,30
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,9.09,False,0,2018-09-30,22:00:00,2018,9,30
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,9.12,False,0,2018-09-30,23:00:00,2018,9,30

In [106]:
# Q17.5 Extract and store `weekday` (Monday - 0, Sunday - 6)
tr_data_c['weekday']=tr_data_c['date_time'].dt.day_name()
tr_data_c

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,is_holiday,Date,Time,year,month,day,weekday
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28,False,0,2012-10-02,09:00:00,2012,10,2,Tuesday
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36,False,0,2012-10-02,10:00:00,2012,10,2,Tuesday
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58,False,0,2012-10-02,11:00:00,2012,10,2,Tuesday
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13,False,0,2012-10-02,12:00:00,2012,10,2,Tuesday
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14,False,0,2012-10-02,13:00:00,2012,10,2,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.45,False,0,2018-09-30,19:00:00,2018,9,30,Sunday
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.76,False,0,2018-09-30,20:00:00,2018,9,30,Sunday
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.73,False,0,2018-09-30,21:00:00,2018,9,30,Sunday
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,9.09,False,0,2018-09-30,22:00:00,2018,9,30,Sunday
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,9.12,False,0,2018-09-30,23:00:00,2018,9,30,Sunday

In [107]:
# Q17.6 Extract and store `hour`
tr_data_c['hour']=tr_data_c['date_time'].dt.hour
tr_data_c

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,is_holiday,Date,Time,year,month,day,weekday,hour
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28,False,0,2012-10-02,09:00:00,2012,10,2,Tuesday,9
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36,False,0,2012-10-02,10:00:00,2012,10,2,Tuesday,10
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58,False,0,2012-10-02,11:00:00,2012,10,2,Tuesday,11
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13,False,0,2012-10-02,12:00:00,2012,10,2,Tuesday,12
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14,False,0,2012-10-02,13:00:00,2012,10,2,Tuesday,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.45,False,0,2018-09-30,19:00:00,2018,9,30,Sunday,19
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.76,False,0,2018-09-30,20:00:00,2018,9,30,Sunday,20
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.73,False,0,2018-09-30,21:00:00,2018,9,30,Sunday,21
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,9.09,False,0,2018-09-30,22:00:00,2018,9,30,Sunday,22
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,9.12,False,0,2018-09-30,23:00:00,2018,9,30,Sunday,23

In [108]:
# Q18.1 What is the weekday with the highest traffic volume?
mask = tr_data_c['traffic_volume'] == tr_data_c['traffic_volume'].max()
tr_data_c[mask]['weekday']

31615    Thursday
Name: weekday, dtype: object

In [109]:
# Q18.2 What is the weekday with the lowest traffic volume?
mask = tr_data_c['traffic_volume'] == tr_data_c['traffic_volume'].min()
tr_data_c[mask]['weekday']

25186    Saturday
25191    Saturday
Name: weekday, dtype: object

In [110]:
# Q18.3 What is the average traffic volume during months of September?
mask = tr_data_c['month'] == 9
tr_data_c[mask]['traffic_volume'].mean()

3303.049334377447

In [111]:
# Q18.4 What is the average traffic volume in the time period between 15-19 hours
mask1 = tr_data_c['hour'] >=15
mask2 = tr_data_c['hour'] <=19
tr_data_c[mask1 & mask2]['traffic_volume'].mean()

4749.295714285714

In [112]:
# Q18.5 What is the average traffic volume on World Bicycle Day (June 3)?
mask1 = tr_data_c['day'] == 3
mask2 = tr_data_c['month'] == 6
tr_data_c[mask1 & mask2]['traffic_volume'].mean()

3445.976

# Groupby

In [114]:
#Q19.1 `traffic_by_year` groupby `year` and compute median traffic volume.
tr_data_c.groupby('year')['traffic_volume'].median()

year
2012    3225.0
2013    3344.0
2014    3316.0
2015    3368.0
2016    3258.5
2017    3530.0
2018    3400.0
Name: traffic_volume, dtype: float64

In [115]:
# Q19.2 `traffic_by_weekday` groupby `weekday` and compute median traffic volume.
tr_data_c.groupby('weekday')['traffic_volume'].median()

weekday
Friday       4336.5
Monday       3619.0
Saturday     3003.0
Sunday       2260.0
Thursday     4280.0
Tuesday      4070.0
Wednesday    4315.0
Name: traffic_volume, dtype: float64

In [129]:
# Q19.3 `temperature_by_traffic` groupby `traffic_cat` and compute average temperature in celsius.
tr_data_c.groupby('month')['temp_in_celcius'].mean()

month
1     -8.092317
2     -7.422758
3     -0.235202
4      5.722985
5     15.172498
6     20.351019
7     22.271038
8     20.615063
9     18.190540
10     9.966573
11     2.795938
12    -5.902629
Name: temp_in_celcius, dtype: float64

In [127]:
tr_data_c.groupby(['weekday','month'])['traffic_volume'].apply(lambda x: np.quantile(x, 0.5))#.head(50)

weekday    month
Friday     1        3653.0
           2        3891.0
           3        4730.0
           4        4614.0
           5        4701.0
                     ...
Wednesday  8        4389.0
           9        4469.0
           10       4492.0
           11       4232.0
           12       4007.0
Name: traffic_volume, Length: 84, dtype: float64

In [113]:
tr_data_c

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,is_holiday,Date,Time,year,month,day,weekday,hour
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.28,False,0,2012-10-02,09:00:00,2012,10,2,Tuesday,9
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.36,False,0,2012-10-02,10:00:00,2012,10,2,Tuesday,10
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.58,False,0,2012-10-02,11:00:00,2012,10,2,Tuesday,11
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,17.13,False,0,2012-10-02,12:00:00,2012,10,2,Tuesday,12
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,18.14,False,0,2012-10-02,13:00:00,2012,10,2,Tuesday,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,10.45,False,0,2018-09-30,19:00:00,2018,9,30,Sunday,19
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,9.76,False,0,2018-09-30,20:00:00,2018,9,30,Sunday,20
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,9.73,False,0,2018-09-30,21:00:00,2018,9,30,Sunday,21
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,9.09,False,0,2018-09-30,22:00:00,2018,9,30,Sunday,22
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,9.12,False,0,2018-09-30,23:00:00,2018,9,30,Sunday,23